table {
    margin: 0 auto;
    text-align: center;
}

thead {
    font-weight: bold;
}

strong {
    color: brown;
    background-color: var(--bgc, none);
}

.note {
    color: blue;
    vertical-align: text-top;
    font-size: 0.7em;
}

.note-part {
    color: blue;
}

td {
    padding: 3px 6px;
}

body>span {
    display: block;
    text-align: center;
    color: grey;
}

body>span:nth-of-type(1) {
    margin-bottom: 1em;
}

body>span:nth-of-type(2) {
    margin-top: 5em;
    color: grey;
    font-size: 0.7em;
}

.ll>td:nth-child(1) {
    font-size: 1.2em;
    word-break: break-all;
}

.ll>td:nth-child(3),
.sl>td:nth-child(2) {
    max-width: 20em;
    word-break: break-word;
}