table{
    margin: 0 auto;
    text-align: center;
}

thead{
    font-weight: bold;
}

strong{
    color: brown;
    background-color: var(--bgc, none);
}

.note {
    color: blue;
    vertical-align: text-top;
    font-size: 0.7em;
}

.note-part {
    color: blue;
}

td{
    padding: 3px 6px;
}

body>span:nth-of-type(1){
    display: block;
    text-align: center;
    margin-top: 5em;
    color: grey;
    font-size: 0.7em;
}

.withsn>td:nth-child(1){
    font-size: 1.2em;
    word-break: break-all;
}
.withsn>td:nth-child(3), .withoutsn>td:nth-child(2){
    max-width: 20em;
    word-break: break-word;
}